USE [ChamThiAnhDB]
GO
/****** Object:  Table [dbo].[BaiDuThi]    Script Date: 07/06/2026 10:51:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiDuThi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenTacPham] [nvarchar](100) NULL,
	[TacGia] [nvarchar](100) NULL,
	[DuongDanAnh] [nvarchar](200) NULL,
	[NgayNop] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamDiem]    Script Date: 07/06/2026 10:51:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamDiem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaiDuThiId] [int] NULL,
	[Diem] [float] NULL,
	[NhanXet] [nvarchar](500) NULL,
	[NgayCham] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 07/06/2026 10:51:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[VaiTro] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 07/06/2026 10:51:33 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[NgayDangKy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BaiDuThi] ON 

INSERT [dbo].[BaiDuThi] ([Id], [TenTacPham], [TacGia], [DuongDanAnh], [NgayNop]) VALUES (1, N'Bình minh quê hương', N'Trương Văn Hướng', N'BINH MINH QUE HUONG.jpg', CAST(N'2026-06-07T21:48:38.013' AS DateTime))
SET IDENTITY_INSERT [dbo].[BaiDuThi] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamDiem] ON 

INSERT [dbo].[ChamDiem] ([Id], [BaiDuThiId], [Diem], [NhanXet], [NgayCham]) VALUES (4, 1, 95, N'Ảnh đẹp, bố cục hài hòa', CAST(N'2026-06-07T22:11:44.017' AS DateTime))
INSERT [dbo].[ChamDiem] ([Id], [BaiDuThiId], [Diem], [NhanXet], [NgayCham]) VALUES (5, 1, 10, N'tốt', CAST(N'2026-06-07T22:12:32.963' AS DateTime))
INSERT [dbo].[ChamDiem] ([Id], [BaiDuThiId], [Diem], [NhanXet], [NgayCham]) VALUES (6, 0, 0, N'', CAST(N'2026-06-07T22:17:46.223' AS DateTime))
SET IDENTITY_INSERT [dbo].[ChamDiem] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [VaiTro]) VALUES (1, N'admin', N'123456', N'QuanTri')
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThiSinh] ON 

INSERT [dbo].[ThiSinh] ([Id], [HoTen], [Email], [SoDienThoai], [NgayDangKy]) VALUES (1, N'TRƯƠNG VĂN HƯỚNG', N'truongvhuong@gmail.com', N'0396789222', CAST(N'2026-06-07T22:17:13.433' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThiSinh] OFF
GO
ALTER TABLE [dbo].[BaiDuThi] ADD  DEFAULT (getdate()) FOR [NgayNop]
GO
ALTER TABLE [dbo].[ChamDiem] ADD  DEFAULT (getdate()) FOR [NgayCham]
GO
ALTER TABLE [dbo].[ThiSinh] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
